.features__text {
    box-sizing: border-box;
    margin-bottom: 32px;
}

@media (min-width: 768px) {
    .features__text {
        width: calc(50% - 16px);
        margin-bottom: 0;
    }
}

@media (min-width: 1024px){
.features__text{
    padding-left: 90px;
}
}