$bg-color: #f4f4f4;

$xs-max: 575px;
$sm-min: 576px;
$sm-max: 767px;
$md-min: 768px;
$md-max: 991px;
$lg-min: 992px;
$lg-max: 1199px;
$xl-min: 1200px;

.services {
    background-color: $bg-color;
    padding: 50px 0;

    &__heading {
        margin-bottom: 40px;
    }

    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        flex-wrap: wrap;
    }

    &__title {
        flex: 1;
        min-width: 350px;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        flex: 1;        
        &-item {
            width: 49%;
            min-width: 200px;
        }
    }

    &__link {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #222222;
        opacity: 0.5;
        transition: ease .5s;
        text-decoration: none;

        &:hover {
            opacity: 1;
        }
    }


    &__carousel {
        display: flex;
        margin-bottom: 30px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
          }

        &-item {
            position: relative;
            flex-shrink: 0;
            width: 80%;
            margin-right: 30px;
        }

        &-image {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }

        &-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: ease .5s;
        }

        &-item:hover &-play {
            opacity: 1;
        }
    }


}