.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .footer__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 40px;
        border-bottom: 1px solid #CDD1D4;
    }
}
