.play-button{
    height: 65px;
    width: 65px;
    background-color: #fff;
    background-image: url(../../images/play.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}