.about__title {
    padding: 0 16px;
    text-align: center;
}

@media (min-width: 1024px) {
    .about__title {
        text-align: left;
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
    }
}